<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Site</title>
</head>
<body>
    <h1>Add Site</h1>
    <form method="post" action="{{ url_for('site.AddSite') }}">
        <label for="sitename">Site Name:</label>
        <input type="text" id="sitename" name="sitename" required>
        <br>
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" required>
        <br>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required>
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <br>
        <label for="AllPermissions">All Permissions:</label><br>
        <input type="checkbox" name="AllPermissions" value="Name"> Name<br>
        <input type="checkbox" name="AllPermissions" value="Email"> Email<br>
        <input type="checkbox" name="AllPermissions" value="Phone"> Phone<br>

        <label for="MandatoryPermissions">Mandatory Permissions:</label><br>
        <input type="checkbox" name="MandatoryPermissions" value="Name"> Name<br>
        <input type="checkbox" name="MandatoryPermissions" value="Email"> Email<br>
        <input type="checkbox" name="MandatoryPermissions" value="Phone"> Phone<br>

        
        <input type="submit" value="Add Site">
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message_list in messages %}
                {% for message in message_list %}
                    {{ message }}<br>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>