<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Reset Password | Secure Connect</title>
</head>
  <body>
  <h4>Reset Password 🔒</h4>
  <p>Your new password must be different from previously used passwords</p>
  <form id="formAuthentication" method="POST">
    <label for="password">New Password</label>
    <input type="password" id="password" name="password" placeholder="New Password" aria-describedby="password" /><br>
    
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" aria-describedby="password" /><br>
    

    <button>Set new password</button>

    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

      <a href="../login">
        Back to login
      </a>
</body>
</html>