<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Site</th>
                <th>Permissions</th>
                <th>Link</th>
                <th>Delete</th> 
            </tr>
        </thead>
        <tbody>
            {% if UserPermissions %}
                {% for SiteData in UserPermissions %}
                    <tr>
                        <td>{{ SiteData["SiteName"] }}</td>
                        <td>{{ SiteData["Permissions"] }}</td>
                        <td><a href="{{ url_for('users.EditPermissions', SiteID=SiteData["SiteID"]) }}">Edit</a></td>
                        <td><a href="{{ url_for('users.DeletePermissions', SiteID=SiteData["SiteID"]) }}" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No sites linked</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
</body>
</html>