<!doctype html>
<html class="h-full bg-white dark:bg-gray-900 dark:text-white">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../assets/output.css" rel="stylesheet">
  <link href="https://fa6p.pages.dev/css/all.min.css" rel="stylesheet">
  <style>.error {color: red; margin-top: 5px;}</style>
</head>
<body class="h-full flex flex-col">
    <main class="flex-1">
        <div class="absolute inset-x-0 top-10 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl" aria-hidden="true">
            <div class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
        </div>
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white">Forgot Password?</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" method="POST" id="myForm" onsubmit="return validateForm()">
                    <div>
                        <label for="login" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Username / Email address</label>
                        <div class="mt-2">
                            <input id="login" name="login" type="text" oninput="validateLogin()" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-white/5 dark:text-white dark:ring-white/10">
                        </div>
                        <div id="loginError" class="error"></div>
                        <div id="Backenderror" class="error">
                          {% with messages = get_flashed_messages() %}
                            {% if messages %}
                              {% for message in messages %}
                                {{ message }}
                              {% endfor %}
                            {% endif %}
                          {% endwith %}
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" value="Submit">
                    </div>
                </form>
                <p class="mt-10 text-center text-sm text-gray-500">
                    <i class="fa-regular fa-chevron-left"></i> Back to <a href="{{url_for('users.Login')}}" class="font-semibold leading-6 text-indigo-600 dark:text-indigo-400">Login</a>
                </p>   
            </div>
        </div>
    </main>
    <footer aria-labelledby="footer-heading" class="relative bottom-0 w-full text-black dark:bg-gray-900 dark:text-white">
        <h2 id="footer-heading" class="sr-only">Footer</h2>
        <div class="mx-auto max-w-7xl px-6 pb-8 pt-4 lg:px-8">
            <div class="border-t dark:border-white/10 pt-8 md:flex md:items-center md:justify-between">
            <div class="flex space-x-6 md:order-2">
                <a href="#" class="text-gray-500">
                    <span class="sr-only">Twitter</span>
                    <i class="fa-brands fa-x-twitter fa-xl"></i>
                </a>
                <a href="#" class="text-gray-500">
                    <span class="sr-only">Instagram</span>
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <a href="#" class="text-gray-500">
                    <span class="sr-only">GitHub</span>
                    <i class="fa-brands fa-github fa-xl"></i>
                </a>
                <a href="#" class="text-gray-500">
                    <span class="sr-only">YouTube</span>
                    <i class="fa-brands fa-youtube fa-xl"></i>
                </a>
            </div>
            <p class="mt-8 text-xs leading-5 text-gray-400 md:order-1 md:mt-0">&copy; &nbsp;2024 Techmedok, Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script>
        if (localStorage.theme === 'dark') {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
    <script>
        var hasClickedSubmit = false;

        function validateLogin() {
            // Check if the submit button has been clicked
            if (!hasClickedSubmit) return;

            var login = document.getElementById("login").value;
            var loginError = document.getElementById("loginError");
            var loginInput = document.getElementById("login");

            // Reset error message and remove the error class
            loginError.innerHTML = "";
            loginInput.classList.remove("ring-red-300");

            // Validate login
            if (login.trim() === "") {
                loginError.innerHTML = "Enter Username or Email ID";
                loginInput.classList.add("ring-red-300");
            } else {
                // Determine if login is an email or username
                if (login.includes("@")) {
                    // Validate as email
                    var emailPattern = /^[a-zA-Z0-9._]+@[a-zA-Z0-9._]+\.[a-zA-Z]{2,}(?:\.[a-zA-Z]{2,})?$/;
                    if (!emailPattern.test(login)) {
                        loginError.innerHTML = "Invalid Email ID";
                        loginInput.classList.add("ring-red-300");
                    }
                } else {
                    // Validate as username
                    var usernamePattern = /^[a-zA-Z_][a-zA-Z0-9_]{3,}$/;
                    if (!usernamePattern.test(login)) {
                        loginError.innerHTML = "Username must be more than 4 characters and only contain alphanumeric characters";
                        loginInput.classList.add("ring-red-300");
                    }
                }
            }
        }

        function validateForm() {
            // Set the flag to indicate that submit button has been clicked
            hasClickedSubmit = true;

            // Trigger individual field validations
            validateLogin();

            // Check if any validation errors occurred
            var loginError = document.getElementById("loginError").innerHTML;

            if (loginError) {
                return false; // If there are errors, prevent form submission
            }

            // If both validations pass, the form is submitted
            return true;
        }
    </script>
</body>
</html>